.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading{
    font-weight: bold;
    justify-content: flex-start;
}

.container{
    margin-top: 50px;
}